@font-face {
  font-family: 'inter';
  src: url('/fonts/gordqucikblack-p7erv.otf') format('otf'),
       url('/fonts/gordqucikblack-p7erv.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Fredoka", "Poppins", sans-serif;
  text-align:"center"
  /* Remove default padding */
  
}